.image-container {
    border: 2px solid #000;
    padding: 10px;
    border-radius: 8px;
    max-width: 100%;      
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f8f8f8;
}

.img-fluid {
    max-width: 100%;
    height: auto;
}